.board
{
  float: inherit;
  display: flex;
  width: 312px;
  height: 312px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;
  margin: 0 auto;
}

.square
{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #00E676;
    margin: 2px;
    box-sizing: border-box;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.square:hover
{
    cursor: pointer;
    background-color: #1B5E20;
}
