.ResultMessage
{
  margin: 50px auto;
  text-align: center;
  color: white;
  font-size: xx-large;
}

.ResetButtonArea
{
  display: flex;
  justify-content: center;
}

.ResetButton
{
  background-color: #00E676;
  border-color: #00E676;
  border-style: none;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  font-size: x-large;
  font-family: monospace;
}

.ResetButton:hover
{
  background-color: red;
  border-color: red;
}
